<div class="card">
    <img src="{{ product.pictures[0].name }}" alt="" class="card-img-top" >
    <div class="card-body">
        <h3 class="card-title">{{ product.name }}</h3>
        <div class="card-title price text-primary">
            {{ product.priceTtc| number_format(2,',', ' ') }} €
            {% if product.isOnSale %}
                <div class="text text-warning">Promotion</div>
            {% endif %}
        </div>
        <p class="card-text text-muted">{{ product.description | slice(0, 300) }}</p>
        <div class="card-footer">
            {% for c in product.categories %}
                <em class="text-muted text-primary text-italic">#{{ c }}</em>
            {% endfor %}
        </div>
    </div>
</div>