
{{ form_start(form, {attr: {class : 'filter'}}) }}
{{ form_row(form.q) }}

<h4>Categories</h4>
{{ form_row(form.categories) }}

<h4>Promotion</h4>
{{ form_row(form.promo) }}

<button type="submit" class="btn btn-primary w-100">Filtrer</button>
{{ form_end(form) }}

