{{ form_start(form, {attr: {class : 'filter  js-filter-form'}}) }}

<div class="spinner-border js-loading" role="status" aria-hidden="true" style="display: none">
    <span class="sr-only">Loading...</span>
</div>
<div class="search product d-flex">
    {{ form_row(form.q, {attr: {class: "text-black border-dark", placeholder: "Rechercher"}}) }}
    <i type="submit" class="fa fa-search mt-2 mx-2" aria-hidden="true" style="font-size: 1.5em"></i>
</div>
<h4>Les categories</h4>
{{ form_widget(form.categories) }}

<h4>Promotion</h4>
{{ form_row(form.promo) }}
{{ form_end(form) }}

