{% extends 'admin/base.html.twig' %}

{% block title %}Country{% endblock %}

{% block body %}
    <h1>Country </h1>
    <div class="container-fluid">
        <table class="table" id="datatable">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ country.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ country.name }}</td>
            </tr>
            <tr>
                <th>Iso_code</th>
                <td>{{ country.isoCode }}</td>
            </tr>
            <tr>
                <th>Call_prefix</th>
                <td>{{ country.callPrefix }}</td>
            </tr>
            <tr>
                <th>Is_enabled</th>
                <td>{{ country.isEnabled ? '<i class="text-success fa fa-check"></i>' : '<i class="text-danger fa fa-times"></i>' }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="{{ path('admin_country_index') }}" class="btn btn-warning text-white"><i class="fa fa-arrow-left"></i></a>

    <a href="{{ path('admin_country_edit', {'id': country.id}) }}" class="btn btn-warning text-white"><i
                class="fa fa-edit"></i></a>

    {{ include('admin/country/_delete_form.html.twig') }}
{% endblock %}
