{% extends 'admin/base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    <h1>Order</h1>
    <div class="container-fluid">
    <table class="table" id="datatable">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ order.reference }}</td>
            </tr>
            <tr>
                <th>Total_price_ht</th>
                <td>{{ order.totalPriceHt }}</td>
            </tr>
            <tr>
                <th>Total_price_ttc</th>
                <td>{{ order.totalPriceTtc }}</td>
            </tr>
            <tr>
                <th>Address_delivery</th>
                <td>{{ order.addressDelivery }}</td>
            </tr>
            <tr>
                <th>Address_invoice</th>
                <td>{{ order.addressInvoice }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ order.createdAt ? order.createdAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ order.updatedAt ? order.updatedAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
</div>
    <a href="{{ path('admin_order_index') }}" class="btn btn-warning text-white"><i class="fa fa-arrow-left"></i></a>

    <a href="{{ path('admin_order_edit', {'id': order.id}) }}" class="btn btn-warning text-white"><i class="fa fa-edit"></i></a>

    {{ include('admin/order/_delete_form.html.twig') }}
{% endblock %}
