<div class="left-marging-admin col-md-12">
    <a {{ path('admin_home') == uri ? 'class="blue-hover"' }} href="{{ path('admin_home') }}">Index de l'administration
        {{ path('admin_home') == uri ? '<em class="float-right"><i class="fa fa-arrow-right" aria-hidden="true"></i></em>' }}
    </a>
    <a {{ path('admin_product_index') == uri ? 'class="blue-hover"' }} href="{{ path('admin_product_index') }}">Gestion
        des produits
        {{ path('admin_product_index') == uri ? '<em class="float-right"><i class="fa fa-arrow-right" aria-hidden="true"></i></em>' }}
    </a>
    <a {{ path('admin_category_index') == uri ? 'class="blue-hover"' }} href="{{ path('admin_category_index') }}">Gestion
        des categories
        {{ path('admin_category_index') == uri ? '<em class="float-right"><i class="fa fa-arrow-right" aria-hidden="true"></i></em>' }}
    </a>
    <div class="dropdown">
        <a {{ path('admin_country_index') == uri or path('admin_address_index') == uri ? 'class="blue-hover' }}
                class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Gestion des localisations
            {% if path('admin_country_index') == uri or path('admin_address_index') == uri %}
                <em class="float-right"><i class="fa fa-arrow-right" aria-hidden="true"></i></em>
            {% endif %}
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton1">
            <a class="dropdown-item bg-dark" href="{{ path('admin_country_index') }}">Pays
                {{ path('admin_country_index') == uri ? '<em class="float-right"><i class="fa fa-arrow-right" aria-hidden="true"></i></em>' }}
            </a>
            <a class="dropdown-item  bg-dark" href="{{ path('admin_address_index') }}">Adresses
                {{ path('admin_address_index') == uri ? '<em class="float-right"><i class="fa fa-arrow-right" aria-hidden="true"></i></em>' }}
            </a>
        </div>
    </div>
    <a href="{{ path('admin_customer_index') }}">
        Gestion des clients
        {{ path('admin_customer_index') == uri ? '<em class="float-right"><i class="fa fa-arrow-right" aria-hidden="true"></i></em>' }}
    </a>
    <a href="{{ path('admin_order_index') }}">Gestion des commandes
        {{ path('admin_order_index') == uri ? '<em class="float-right"><i class="fa fa-arrow-right" aria-hidden="true"></i></em>' }}
    </a>
</div>