{% extends "admin/base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="border p-2 my-2">
                <h3 class="text-center">Fiche produit</h3>
                Type du produit : {{ product.type }}<span class="product_product_type"></span><br>
                Réference d'origine : {{ product.OriginalReference }}<span class="product_OriginalReference"></span><br>
                Réference : {{ product.reference }}<span class="product_reference"></span><br>
                Nom : {{ product.name }}<span class="product_name"></span><br>
                Prix : {{ product.price > 0 ? product.price :  "<span class='product_price'></span>"}}€<br>
                Prix TTC : {{ product.price > 0 ? product.price : "<span class='product_price_ttc'></span>" }}€<br>
                Dimention : <br>
                &nbsp;&nbsp;&nbsp;Largeur : {{ product.width| round(1) }} mm<span class="product_width"></span><br>
                &nbsp;&nbsp;&nbsp;longueur : {{ product.lenght| round(1) }} mm<span class="product_length"></span><br>
                &nbsp;&nbsp;&nbsp;poids : {{ product.weight| round(1) }} kg<span class="product_weight"></span><br>
                &nbsp;&nbsp;&nbsp;profondeur : {{ product.depth| round(1) }} mm<span class="product_depth"></span><br>
            </div>
            <table class="table menu-product">
                <tbody>
                <tr>
                    <td class="input-item item-text table-active">Nomination du produit</td>
                </tr>
                <tr>
                    <td class="input-item item-price">Affectation de prix</td>
                </tr>
                <tr>
                    <td class="input-item item-productFormat">Format du produit</td>
                </tr>
                <tr>
                    <td class="input-item item-inge">Concepteur et fournisseur</td>
                </tr>
                <tr>
                    <td class="input-item item-options">Options</td>
                </tr>
                <tr>
                    <td class="input-item item-meta">Réferencement</td>
                </tr>
                <tr>
                    <td class="input-item item-download">Image et fiche technique</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-9">
            {% block content %}

            {% endblock %}
        </div>
    </div>
{% endblock %}
