{% extends 'admin/base.html.twig' %}

{% block title %}Liste des produits {% endblock %}

{% block body %}
    <h1>Liste des produits </h1>
    <a href="{{ path('admin_product_new') }}" class="btn btn-success float-right"><i class="fa fa-plus"></i></a><div class="container">
        <table class="table" id="datatable">
            <thead>
            <tr>
                <th>Position</th>
                <th>Nom</th>
                <th>Référence</th>
                <th>Prix HT</th>
                <th>Prix TTC</th>
                <th>Ajouter le</th>
                <th>MAJ</th>
                <th>Stock</th>
                <th>Actif</th>
                <th>Promotion</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.position }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.reference }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.priceTtc }}</td>
                    <td>{{ product.addAt ? product.addAt|date('d/m/Y H:i:s') : '' }}</td>
                    <td>{{ product.updatedAt ? product.updatedAt|date('d/m/Y H:i:s') : '' }}</td>
                    <td>{{ product.isInStock }}</td>
                    <td>{{ product.isEnabled ? '<i class="text-success fa fa-check"></i>' : '<i class="text-danger fa fa-times"></i>' }}</td>
                    <td>{{ product.isOnSale ? '<i class="text-success fa fa-check"></i>' : '<i class="text-danger fa fa-times"></i>' }}</td>
                    <td class="d-flex justify-content-center">
                        <a href="{{ path('admin_product_show', {'id': product.id}) }}" class="btn btn-primary text-white"><i class="fa fa-eye"></i></a>
                        <a href="{{ path('admin_product_edit', {'id': product.id}) }}" class="btn btn-warning text-white"><i class="fa fa-edit"></i></a>
                        {{ include('admin/product/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="29">Aucun resultat</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('admin_product_new') }}" class="btn btn-success"><i class="fa fa-plus"></i></a>
{% endblock %}
