{% extends 'admin/base.html.twig' %}

{% block title %}Customer index{% endblock %}

{% block body %}
    <h1>Customer index    </h1>
    <a href="{{ path('admin_product_new') }}" class="btn btn-success float-right"><i class="fa fa-plus"></i></a>     <div class="container-fluid">
    <table class="table" id="datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Is_add_newsletter</th>
                <th>Newsletter_sub_at</th>
                <th>Last_visit</th>
                <th>Note</th>
                <th>Birthday</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.isAddNewsletter ? '<i class="text-success fa fa-check"></i>' : '<i class="text-danger fa fa-times"></i>' }}</td>
                <td>{{ customer.newsletterSubAt ? customer.newsletterSubAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ customer.lastVisit ? customer.lastVisit|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ customer.note }}</td>
                <td>{{ customer.birthday ? customer.birthday|date('d/m/Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_customer_show', {'id': customer.id}) }}" class="btn btn-primary text-white"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('admin_customer_edit', {'id': customer.id}) }}" class="btn btn-warning text-white"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun resultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('admin_customer_new') }}" class="btn btn-success"><i class="fa fa-plus"></i></a>
{% endblock %}
