<header id="header">
    <div class="slideshow">
        <div id="texts">
            <div class="text text-catalogue">
                <h1>Découvrez notre catalogue d'accessoire</h1>
                <button class="btn btn-warning btn-xl">En savoir plus</button>
            </div>
            <div class="text text-entretient">
                <h1>Entretient de votre vehicule</h1>
                <button class="btn btn-warning btn-xl">En savoir plus</button>
            </div>
            <div class="text text-pleasure">
                <h1>Le plaisir a porté de main</h1>
                <button class="btn btn-warning btn-xl">En savoir plus</button>
            </div>
        </div>
        <div class="slideshow-pictures">
            <img src="{{ asset('images/template/header-3.jpg') }}" alt=""/>
            <img src="{{ asset('images/template/header.jpg') }}" alt=""/>
            <img src="{{ asset('images/template/header-2.jpg') }}" alt=""/>
        </div>
        <div class="slideshow-filter"></div>
        <div class="slideshow-content">
            <div class="first-navbar">
                <div class="d-flex justify-content-between">
                    <a class="logo col-md-2 mt-2" href="{{ path('home') }}">
                        <img src="{{ asset('images/template/logo-gapa.png') }}" alt="" height="40">
                    </a>
                    <div class="general-search col-md-2 offset-3 mt-3">
                        <label>
                            <input type="text" placeholder=" Rechercher..." class="border-dark rounded-2">
                        </label>
                        <i class="fa fa-search mx-2 mt-1 text-white" aria-hidden="true"></i>
                    </div>
                    <div class="nav-together col-md-3 d-flex justify-content-around text-white mt-3 mr-2">
                        <div class="pipe mt-1">|</div>
                        <div class="phone mt-1">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span> 04.68.54.44.96</span>
                        </div>
                        {% if app.user %}
                            <div class="pipe mt-1">|</div>
                            <div class="notification mt-1">
                                <a href="" class="text-decoration-none text-white">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </a>
                                <a href="" class="text-decoration-none text-white mx-2">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </a>
                                <a href="" class="text-decoration-none text-white">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                </a>
                                <a href="{{ path('app_logout') }}" class="text-decoration-none text-danger mx-2">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                </a>
                            </div>
                        {% else %}
                            <div class="pipe mt-1">|</div>
                            <a href="{{ path('app_login') }}" class="text-white text-decoration-none mt-1">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                                <span>Connexion</span>
                            </a>
                            <div class="pipe mt-1">|</div>
                            <a href="{{ path('app_signup') }}" class="text-white text-decoration-none mt-1">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                                <span>Inscription</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="second-navbar">
                <form class="col-md-5  search-by-mark d-flex justify-content-center align-items-center">
                    <div class="selectMark mt-1 select">
                        <label for="selectMark" class="d-none"></label>
                        <select id="selectMark" class="form-control">
                            <option value="0">Marques</option>
                            {% for mark in marks %}
                                <option value="{{ mark.id }}">{{ mark.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="selectVersionYear mt-1 mx-3 select">
                        <label for="selectVersionYear" class="d-none"></label>
                        <select id="selectVersionYear" class="form-control">
                            <option value="0">Années</option>
                        </select>
                    </div>
                    <div class="selectModel mt-1 select">
                        <label for="selectModel" class="d-none"></label>
                        <select id="selectModel" class="form-control">
                            <option value="0">Modêles</option>
                        </select>
                    </div>
                    <div class="selectVersion mt-1 mx-3 select">
                        <label for="selectVersion" class="d-none"></label>
                        <select id="selectVersion" class="form-control">
                            <option value="0">Versions</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-danger btn-sm button-validate">
                        <i class="fa fa-search"></i>
                    </button>
                    <button type="button" class="mx-2 reinit-btn btn btn-danger btn-sm text-white">
                        <i class="fa fa-refresh"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</header>
<script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
<script>
    let providerItem = $(".provider-items")
    let categoryParentList = $(".category-parent")
    categoryParentItem = $(".category-parent-item")
    providerItem.click((e) => {
        $.ajax({
            method: 'POST',
            url: "{{ path('getCategoriesParents') }}",
            data: {
                provider: e.target.id
            },
            success: function (data) {
                $.each(data, function (i, value) {
                    categoryParentItem.append("<li id='" + i + "' class='category-parent-item p-6 mt-2'>" + value + "</li>")
                    categoryParentList.css("visibility", "visible")
                })
            }
        })
    })
</script>
<script>
    let selectModel = $("#selectModel")
    let selectMark = $("#selectMark")
    let selectVersionYear = $("#selectVersionYear")
    let selectVersion = $("#selectVersion")

    /** Search model with mark*/
    selectMark.on("change", () => {
        $.ajax({
            method: "POST",
            url: "{{ path('getVersionYear') }}",
            data: {
                mark: $("#selectMark option:selected").val()
            },
            success: function (data) {
                $.each(data, function (i, value) {
                    selectVersionYear.append(new Option(value, i));
                })
                selectMark.attr("disabled", "disabled")
                $(".reinit-btn").show(500)
            }
        })
    })
    selectVersionYear.on("change", () => {
        $.ajax({
            method: "POST",
            url: "{{ path('getModels') }}",
            data: {
                versionYears: $("#selectVersionYear option:selected").val()
            },
            success: function (data) {
                $.each(data, function (i, value) {
                    selectModel.append(new Option(value, i));
                })
                selectVersionYear.attr("disabled", "disabled")
                $(".reinit-btn").show(500)
            }
        })
    })
    /** Search version with model*/
    selectModel.on("change", () => {
        $.ajax({
            method: "POST",
            url: "{{ path('getVersions') }}",
            data: {
                model: $("#selectModel option:selected").val()
            },
            success: function (data) {
                $.each(data, function (i, value) {
                    selectVersion.append(new Option(value, i));
                })
                selectModel.attr("disabled", "disabled")
            }
        })
    })

    $(".button-validate").on("click", () => {
        $.ajax({
            method: "POST",
            url: "{{ path('public_product_index') }}",
            data: {
                mark: $("#selectMark option:selected").val(),
                range: $("#selectRange option:selected").val(),
                model: $("#selectModel option:selected").val(),
                version: $("#selectVersion option:selected").val()
            },
            success: function (data) {
                $.each(data, function (i, value) {
                    let selectVersion = $("#selectVersion")
                    selectVersion.append(new Option(value, i));
                })
                $("#selectModel").attr("disabled", "disabled")
            }
        })
    })
    $(".reinit-btn").on("click", () => {
        $("#selectModel option").remove()
        $("#selectVersion option").remove()
        $("#selectRange option").remove()
        selectModel.removeAttr("disabled")
        selectRange.removeAttr("disabled")
        selectMark.removeAttr("disabled")
        selectModel.append(new Option("Modeles", 0));
        selectRange.append(new Option("Gammes", 0));
        selectVersion.append(new Option("Version", 0));
    })
</script>