<header id="header">
    <div class="Slideshow">
        <div id="texts">
            <div class="text text-catalogue">
                <h1>Découvrez notre catalogue d'accessoire</h1>
                <button class="btn btn-warning btn-xl">En savoir plus</button>
            </div>
            <div class="text text-entretient">
                <h1>Entretient de votre vehicule</h1>
                <button class="btn btn-warning btn-xl">En savoir plus</button>
            </div>
            <div class="text text-pleasure">
                <h1>Le plaisir a porté de main</h1>
                <button class="btn btn-warning btn-xl">En savoir plus</button>
            </div>
        </div>
        <div class="Slideshow-Content">
            <img src="{{ asset('images/template/header-3.jpg') }}" alt=""/>
            <img src="{{ asset('images/template/header.jpg') }}" alt=""/>
            <img src="{{ asset('images/template/header-2.jpg') }}" alt=""/>
        </div>
        <div class="navbar">
            <div class="btn-hidden">
                <div class="text-center">Nos partenaires</div>
            </div>
            <div class="menu-nav">
                <div class="japocat-product sub-menu">
                    <h2>Nos produits japocat</h2>
                    <img class="sub-menu-logo" src="{{ asset('images/template/japocat-logo.jpg') }}" alt="">
                </div>
                <div class="arb-product sub-menu">
                    <h2>Nos produits ARB</h2>
                    <img src="{{ asset('images/template/logo-arb.png') }}" alt="">
                </div>
                <div class="james-baroud-product sub-menu">
                    <h2>Nos produits james-baroud</h2>
                    <img src="{{ asset('images/template/james-baroud-logo.png') }}" alt="">
                </div>
                <div class="front-runner-product sub-menu">
                    <h2>Nos produits front-runner</h2>
                    <img src="{{ asset('images/template/logo-fr.png') }}" alt="">
                </div>
            </div>

            <div class="logo">
                <img src="{{ asset('images/template/logo-gapa.png') }}" alt="" height="40">
            </div>
            <div class="d-flex justify-content-around align-items-center search w-25">
                <div class="selectMark select">
                    <label for="selectMark" class="d-none"></label>
                    <select id="selectMark" class="form-control">
                        <option value="0">Marques</option>
                        {% for mark in marks %}
                            <option value="{{ mark.id }}">{{ mark.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="selectModel select">
                    <label for="selectModel" class="d-none"></label>
                    <select id="selectModel" class="form-control">
                        <option value="0">Modêles</option>
                    </select>
                </div>
                <div class="selectVersion select">
                    <label for="selectVersion" class="d-none"></label>
                    <select id="selectVersion" class="form-control">
                        <option value="0">Versions</option>
                    </select>
                </div>
                <button class="mr-3 btn btn-danger btn-sm"><i class="fa fa-search"></i></button>
                <button type="button" class="reinit-btn btn btn-danger btn-sm text-white"><i
                            class="fa fa-refresh"></i></button>
            </div>

            <div class="float-end text-white nav-together">
                <div class="search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" placeholder=" Rechercher..." class="bg-black text-white border-dark">
                </div>
                <div class="pipe">|</div>
                <div class="phone">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span> 04.68.54.44.96</span>
                </div>
                {% if app.user %}
                    <div class="pipe">|</div>
                    <div class="notification">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </div>
                {% else %}
                    <div class="pipe">|</div>
                    <a href="{{ path('app_login') }}" class="login">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        <span>Connexion</span>
                    </a>
                    <div class="pipe">|</div>
                    <a href="{{ path('app_signup') }}" class="signup">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        <span>Inscription</span>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="filter"></div>
    </div>
</header>
<script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
<script>
    /** Search model with mark*/
    $("#selectMark").on("change", () => {
        $.ajax({
            method: "POST",
            url: "{{ path('getModels') }}",
            data: {
                mark: $("#selectMark option:selected").val()
            },
            success: function (data) {
                $.each(data, function (i, value) {
                    let selectFinal = $("#selectModel")
                    selectFinal.append(new Option(value, i));
                })
                $("#selectMark").attr("disabled", "disabled")
                $(".reinit-btn").show(500)
            }
        })
    })
    /** Search version with model*/
    $("#selectModel").on("change", () => {
        $.ajax({
            method: "POST",
            url: "{{ path('getVersions') }}",
            data: {
                model: $("#selectModel option:selected").val()
            },
            success: function (data) {
                $.each(data, function (i, value) {
                    let selectVersion = $("#selectVersion")
                    selectVersion.append(new Option(value, i));
                })
                $("#selectModel").attr("disabled", "disabled")
            }
        })
    })

    $(".reinit-btn").on("click", () => {
        let selectModel = $("#selectModel")
        let selectMark = $("#selectMark")
        let selectProduct = $("#selectProduct")
        $("#selectModel option").remove()
        $("#selectProduct option").remove()
        selectModel.removeAttr("disabled")
        selectMark.removeAttr("disabled")
        selectModel.append(new Option("Modeles", 0));
        selectProduct.append(new Option("Produits", 0));
    })
</script>